@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://azdevtraining.blob.core.windows.net/image/OBS-New.png" style="height:256px;" />
</div>
